body {
  margin: 0;
}

.nav {
  display: flex;
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: rgb(54, 143, 245);

  gap: 16px;

  align-items: center;
}
.nav a {
  margin-right: 10px;
  color: white;

  text-decoration: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.nav a:hover:not(.logo) {
  transform: scale(1.4);
  font-weight: bold;
}

.logo {
  font-weight: bold;
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
}

.container {
  width: 98%;
  height: 200px;

  margin: auto;
}

.grey-bg {
  background: #eee;
}
.white-bg {
  position: relative;
  top: 40px;
  background: white;
  border-radius: 5px;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.list-box {
  padding: 10px;
  border-bottom: 1px solid#eee;

  cursor: pointer;
}
.list-box a {
  color: black;
  text-decoration: none;
}

.list-box h4 {
  font-size: 16px;
  margin: 5px;
}

.list-box p {
  font-size: 13px;
  margin: 5px;
  color: grey;
}

.post__nav {
  display: flex;
  position: relative;
  width: 100%;
  top: 20px;
}

.post__nav input {
  width: 100%;
  height: 50px;

  outline: none;

  font-size: 20px;
  padding: 20px;

  border-radius: 20px;
  border: none;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.post__nav button {
  width: 50px;
  font-size: 30px;
  margin-left: 5px;
  border: none;

  cursor: pointer;
}

input,
div {
  box-sizing: border-box;
}
.form-box {
  background: white;
  padding: 25px;
  margin: 20px;
  border-radius: 8px;
}
.form-box input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}
.form-box button {
  padding: 10px;
  border: none;
  background: lightgrey;
  border-radius: 5px;

  cursor: pointer;
}

.detail-bg {
  background: white;
  padding: 15px;
  margin: 20px;
}

.detail__nav {
  display: flex;
}

.detail__edit,
.detail__delete,
.detail__chat {
  position: relative;
  top: 10px;
  left: 20px;

  width: 200px;
  height: 30px;

  background-color: rgb(54, 143, 245);
  border-radius: 20px;

  text-align: center;

  cursor: pointer;
}

.detail__delete {
  left: 40px;
}

.detail__chat {
  left: 60px;
}

.detail__edit a,
.detail__delete,
.detail__chat a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.pagination {
  position: relative;
  display: flex;
  width: 100%;
  top: 60px;

  justify-content: center;
  text-align: center;

  font-size: 24px;
}

/* 가상 클래스 활용 : color 우선순위 때문에 사용*/
.pagination a:not(.currentpage),
.currentpage {
  width: 50px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 300ms ease;
}

.currentpage {
  color: white;
  background-color: rgb(54, 143, 245);
}

.pagination a:hover {
  color: white;
  background-color: rgb(54, 143, 245);
}

.comment__form {
  position: relative;
  width: 100%;
  left: 20px;
}

.comment__form input {
  width: 98%;
  height: 50px;

  outline: none;
  padding: 20px;

  font-size: 16px;

  border-radius: 20px;
  border: none;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.comments__container {
  position: relative;
  width: 98%;
  left: 20px;
}

.comment {
  background-color: white;
}

.chat-screen {
  width: 100%;
}
.chat-box {
  margin-top: 15px;
  display: flex;
}
.chat-box span {
  padding: 10px;
  background: #eee;
}
.mine {
  justify-content: end;
}
.chat-input {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
}
.chat-button {
  padding: 10px;
  border: none;
  background: lightgrey;
  border-radius: 5px;
}
